@import url('https://fonts.googleapis.com/css2?family=Radio+Canada:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Radio+Canada:wght@400&display=swap');


*{
    padding: 0px;
    margin: 0px;
    width: 100%;
    outline: none;
    font-family: 'Radio Canada', sans-serif;
}






/* header area  */

.header{
    width: 100%;
    height: 18rem;
    background: #1E40AF;
    display: flex;
    justify-content: center;
    opacity: 0.9  !important;
    
    
}

.header-img{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.banner-image{
    margin-top: 1rem ;
    margin-bottom: 1rem;
    width: 60%;
    height: auto;
    border-radius: 8px;
    
}


.title-section{
    width: 100%;
    height: 10rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
}
 
.title{   
    width: 100%; 
    display: flex;
    justify-content: center;
   

}

.title > h2{
    display: flex;
    justify-content: center;
    font-weight: bolder;
    font-size: 36px;
}

.tagline{
    display: flex;
    justify-content: center;
    font-weight: 300;
    font-size: 25px;
    padding-top: 2rem;
}

.container-box{
    width: 100%;
    height: max-content;
    overflow: hidden;
}

.row{
    overflow: hidden;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    padding: 4%;
    display: flex;
    justify-content: center;

}

.bg-card{
    width: 20%;
    height: 27rem;
    margin: 3rem;
   
}

.img-card{
    width: 100%;
    height: 26rem;
    display: flex;
    float: bottom;
    cursor: pointer;
    background:#318CE7;
    background-image: linear-gradient(180deg, white 20%, #318CE7 90%);
    border-radius: 10px;
    overflow: visible;

}

.img-card > img{
    width: 97%;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    cursor: pointer;
}


.content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
}

.content > h4{
    font-size: 28px;
    font-weight: 400;
    letter-spacing: 2.3px;  
}

.content > h5{
    font-size: 22px;
    font-weight: 300;
    letter-spacing: 2.3px;  
}

.social-links{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 0.6rem;
}

.fab{
    color:#1E40AF;;
}

.footer{
    width: 100%;
    overflow: hidden;
    background-color: #1E40AF;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.contact-fl > h1{
    padding-left: 4rem;
    color: white;
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 1rem;
}

.copyright-fl{
    padding-left: 4rem;
    color: white;
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 1rem;

}


@media only screen and (max-width:879px) {
    .row{
        flex-direction: column !important;
    }

    .banner-image{
        width: 50%;
    }

    .header{
        height: 10rem;
    }

    .bg-card{
        width: 70%;
    }

    .tagline{
        padding: 2%;
    }

    .copyright-fl{
        font-size: 18px;
    }
}